<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="stylesheets/style.css">

    <script src="/javascripts/require.js" data-main="javascripts/requireCore.js"></script>

</head>
<body>
    <!--<div><h1>c3</h1></div>-->

    <div id="map"></div>
    <script>

        function CenterControl(controlDiv, map, center) {
            var control = this;

            control.center_ = center;
            controlDiv.style.clear = 'both';

            // Set CSS for the control border
            var goCenterUI = document.createElement('div');
            goCenterUI.id = 'goCenterUI';
            goCenterUI.title = 'Click to recenter the map';
            controlDiv.appendChild(goCenterUI);

            // Set CSS for the control interior
            var goCenterText = document.createElement('div');
            goCenterText.id = 'goCenterText';
            goCenterText.innerHTML = 'Center Map';
            goCenterUI.appendChild(goCenterText);

            // Set CSS for the setCenter control border
            var setCenterUI = document.createElement('div');
            setCenterUI.id = 'setCenterUI';
            setCenterUI.title = 'Click to change the center of the map';
            controlDiv.appendChild(setCenterUI);

            // Set CSS for the control interior
            var setCenterText = document.createElement('div');
            setCenterText.id = 'setCenterText';
            setCenterText.innerHTML = 'Set Center';
            setCenterUI.appendChild(setCenterText);

            // Set up the click event listener for 'Center Map': Set the center of the map
            // to the current center of the control.
            goCenterUI.addEventListener('click', function() {
                var currentCenter = control.getCenter();
                map.setCenter(currentCenter);
            });

            // Set up the click event listener for 'Set Center': Set the center of the
            // control to the current center of the map.
            setCenterUI.addEventListener('click', function() {
                var newCenter = map.getCenter();
                control.setCenter(newCenter);
            });
        }

        CenterControl.prototype.center_ = null;
        CenterControl.prototype.getCenter = function() {
            return this.center_;
        };
        CenterControl.prototype.setCenter = function(center) {
            this.center_ = center;
        };


        function noActionFunction(){console.log("no action");};
        function MapButtonControl(controlDiv, options, clickAction){
            var control = this;

            options = options || {};

            control._center = options.center;
            controlDiv.style.clear = 'both';

            var mapButtonHereUI = document.createElement('div');
            mapButtonHereUI.id = 'mapButtonHereUI';
            controlDiv.appendChild(mapButtonHereUI);

            var mapButtonHereText = document.createElement('div');
            mapButtonHereText.id = 'mapButtonHereText';
            mapButtonHereText.innerHTML = options.buttonText;
            mapButtonHereUI.appendChild(mapButtonHereText);

            mapButtonHereUI.addEventListener('click', clickAction);
        }
        function MapButton(options, clickAction, uiPosition){
            options = options || {};
            if (typeof clickAction !== "function") clickAction = noActionFunction;
            if (!uiPosition) uiPosition = google.maps.ControlPosition.LEFT_CENTER;

            var MapButtonControlDiv = document.createElement('div');
            var mapButtonControl = new MapButtonControl(MapButtonControlDiv, options, clickAction);

            MapButtonControlDiv.index = 1;
            //MapButtonControlDiv.style['padding-left'] = '10px';
            MapButtonControlDiv.style['padding'] = '10px';
            map.controls[uiPosition].push(MapButtonControlDiv);

            return mapButtonControl;
        }

        var map;
        var prima = {lat: 59.942713, lng: 30.230304};
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 59.942713, lng: 30.230304},
                zoom: 16
            });

            var centerControlDiv = document.createElement('div');
            var centerControl = new CenterControl(centerControlDiv, map, prima);

            centerControlDiv.index = 1;
            centerControlDiv.style['padding-top'] = '10px';
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(centerControlDiv);


            var settleButton = new MapButton(
                    {center: prima, buttonText: 'Settle Here'},
                    function() {
                        var pos = map.getCenter();
                        var core = require('core');
                        console.log("core.version", core.version);
                        var house = new core.House({pos: pos});
                        var marker = createMarkerWithImg(pos, map, house.getImgSource());

                        core.Test.run1();
                    },
                    google.maps.ControlPosition.LEFT_CENTER
            );
            console.warn(settleButton);


            //var iconSrc = '/data/house/house01.gif';
            //var beachMarker = createMarkerWithImg({lat: 59.942713, lng: 30.230304}, map, iconSrc);

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    map.setCenter(pos);
                    //beachMarker.setPosition(pos);
                }, function() {
                    handleLocationError(true, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, pos) {
            console.warn(browserHasGeolocation, pos);
        }


        function createMarkerWithImg(pos, map, icon){
            var marker = new google.maps.Marker({
                position: pos,
                map: map,
                icon: icon
            });
            return marker;
        }


    </script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=<%= apiMapKey %>&callback=initMap" async="" defer=""></script>-->

    <!--<script src="/javascripts/underscore.js"></script>-->
    <!--<script src="/javascripts/core.js"></script>-->
    <!--<script src="/javascripts/House.js"></script>-->



    <!--<img src="/data/house/house01.gif">-->
    <!--<img src="/data/house/house02.gif">-->
    <!--<img src="/data/house/house03.gif">-->
    <!--<img src="/data/house/house04.gif">-->
    <!--<img src="/data/house/house05.gif">-->
    <!--<img src="/data/house/house06.gif">-->
    <!--<img src="/data/house/house07.gif">-->
    <!--<img src="/data/house/house08.gif">-->
    <!--<img src="/data/house/house09.gif">-->
    <!--<img src="/data/house/house10.gif">-->
    <!--<img src="/data/house/house11.gif">-->
    <!--<img src="/data/house/house12.gif">-->
    <!--<img src="/data/house/house13.gif">-->
    <!--<img src="/data/house/house14.gif">-->
    <!--<img src="/data/house/house15.gif">-->
    <!--<img src="/data/house/house16.gif">-->
    <!--<img src="/data/house/house17.gif">-->
    <!--<img src="/data/house/house18.gif">-->
    <!--<img src="/data/house/house19.gif">-->
    <!--<img src="/data/house/house20.gif">-->


</body>
</html>