<!--Created by jaric on 01.08.2016.-->

<!DOCTYPE html>
<html>
<head>
    <title>CalcGraphs</title>
    <!--<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">-->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes">

    <link rel="stylesheet" href="stylesheets/style.css">

    <script src="/javascripts/core.js"></script>
    <script src="/javascripts/test.js"></script>
</head>
<body>

    <div>49 Thales Way</div>
    <div>game about connected economics, cooperate and win</div>
    <div>every person has the same amount of power (income in overall status)</div>

</body>
</html>